h1 {
  font-size: 30px !important;
  font-weight: bold !important;
}

h2 {
  font-size: 20px !important;
  font-weight: bold !important;
}

h3 {
  font-size: 15px !important;
  font-weight: bold !important;
}

pre code {
  display: block !important;
  background: none !important;
  white-space: pre !important;
  -webkit-overflow-scrolling: touch !important;
  overflow-x: scroll !important;
  max-width: 100% !important;
  min-width: 100px !important;
  padding: 0 !important;
}

p {
  white-space: pre-wrap !important;
  padding-bottom: 12px;
}

code {
  font-family: monospace !important;
}