.blog h1 {
  font-size: 32px !important;
  font-weight: bold !important;
  padding: 12px 0 !important;
}

.blog h2 {
  font-size: 24px !important;
  font-weight: bold !important;
  padding: 8px 0 !important;
}

.blog h3 {
  font-size: 20px !important;
  font-weight: bold !important;
  padding: 4px 0 !important;
}

.blog pre code {
  display: block !important;
  background: none !important;
  white-space: pre !important;
  -webkit-overflow-scrolling: touch !important;
  overflow-x: scroll !important;
  max-width: 100% !important;
  min-width: 100px !important;
  padding: 0 !important;
}

.blog p {
  font-size: 18px !important;
  white-space: pre-wrap !important;
  padding-bottom: 12px !important;
  padding-top: 0px !important;
}

.blog code {
  font-family: monospace !important;
}

.blog ol {
  font-size: 18px !important;
  list-style-position: inside !important;
}

.blog ul {
  font-size: 18px !important;
  list-style-type: square !important;
  list-style-position: inside !important;
  list-style-image: none !important;
}

.blog li ul li {
  font-size: 18px !important;
  padding-left: 30px;
  list-style-type: circle !important;
}

.blog blockquote { 
  border-left: #ddd solid 4px !important;
  padding: 10px !important; 
  background: #eee !important; 
  margin-top: 10px !important; 
  margin-bottom: 10px !important; 
}

.blog blockquote p { 
  padding-bottom: 5px !important;
  margin-top: 10px !important; 
  margin-bottom: 10px !important; 
}

.blog .subtitle {
  font-weight: 300 !important;
}

.blog a {
  color: #BE24CB !important;
}

.blog a:visited {
  color: #741D7B !important;
}